In [29]:
import pandas as pd
import datetime

In [27]:
weather_data_df1 = pd.DataFrame(pd.read_csv("Data/weather_date_06092016.csv"))
weather_data_df2 = pd.DataFrame(pd.read_csv("Data/weather_date_06082016.csv"))

In [28]:
weather_data_df1.head()

         Date  Temp High  Temp Low  Precipitation
0  12/31/2018      60.80     48.30            0.0
1  12/30/2018      63.63     46.17            0.0
2  12/29/2018      61.63     43.24            0.0
3  12/28/2018      59.48     48.88            0.0
4  12/27/2018      62.71     49.58            0.0

In [29]:
full_date = []
for date in weather_data_df1["Date"]:
    date= datetime.datetime.strptime(date,'%m/%d/%Y')
    full_date.append(f"{date.year}-{date.month}-{date.day}")

In [30]:
weather_data_df1["Date"]=full_date
weather_data_df1["Date"] = pd.to_datetime(weather_data_df1["Date"])
weather_data_df1.head()

        Date  Temp High  Temp Low  Precipitation
0 2018-12-31      60.80     48.30            0.0
1 2018-12-30      63.63     46.17            0.0
2 2018-12-29      61.63     43.24            0.0
3 2018-12-28      59.48     48.88            0.0
4 2018-12-27      62.71     49.58            0.0

In [31]:
weather_data_df2.head()

       Date  Temp High  Temp Low  Precipitation
0  6/8/2016      79.15     61.19            0.0
1  6/7/2016      77.49     60.94            0.0
2  6/6/2016      76.29     59.32            0.0
3  6/5/2016      76.93     59.68            0.0
4  6/4/2016      85.08     63.24            0.0

In [32]:
full_date_2 = []
for date in weather_data_df2["Date"]:
    date= datetime.datetime.strptime(date,'%m/%d/%Y')
    full_date_2.append(f"{date.year}-{date.month}-{date.day}")
weather_data_df2["Date"]=full_date_2
weather_data_df2["Date"] = pd.to_datetime(weather_data_df2["Date"])
weather_data_df2.head()

        Date  Temp High  Temp Low  Precipitation
0 2016-06-08      79.15     61.19            0.0
1 2016-06-07      77.49     60.94            0.0
2 2016-06-06      76.29     59.32            0.0
3 2016-06-05      76.93     59.68            0.0
4 2016-06-04      85.08     63.24            0.0

In [33]:
weather_data = pd.concat([weather_data_df1,weather_data_df2])

In [34]:
# full_date_3=[]
weather_year = []
for date in weather_data["Date"]:
#     date= datetime.datetime.strptime(date,'%Y-%m-%d')
    weather_year.append(date.year)
#     full_date_3.append(f"{date.year}-{date.month}-{date.day}")
weather_data["Year"]=pd.to_numeric(weather_year)
# weather_data["Date"]=full_date_3
weather_data.head()

        Date  Temp High  Temp Low  Precipitation  Year
0 2018-12-31      60.80     48.30            0.0  2018
1 2018-12-30      63.63     46.17            0.0  2018
2 2018-12-29      61.63     43.24            0.0  2018
3 2018-12-28      59.48     48.88            0.0  2018
4 2018-12-27      62.71     49.58            0.0  2018

In [35]:
weather_final_data_df = weather_data[weather_data["Year"]>2013]

In [36]:
weather_final_data_df=weather_final_data_df.sort_values(by="Date")
weather_final_data_df=weather_final_data_df.reset_index(drop=True)
weather_final_data_df.head()

        Date  Temp High  Temp Low  Precipitation  Year
0 2014-01-01      72.06     49.34          0.000  2014
1 2014-01-02      79.27     53.65          0.000  2014
2 2014-01-03      71.57     52.39          0.002  2014
3 2014-01-04      69.33     51.60          0.000  2014
4 2014-01-05      76.42     50.85          0.001  2014

In [38]:
full_date_3=[]
for date in weather_final_data_df["Date"]:

    full_date_3.append(f"{date.year}-{date.month}-{date.day}")

weather_final_data_df["Date"]=full_date_3
weather_final_data_df.head()

       Date  Temp High  Temp Low  Precipitation  Year
0  2014-1-1      72.06     49.34          0.000  2014
1  2014-1-2      79.27     53.65          0.000  2014
2  2014-1-3      71.57     52.39          0.002  2014
3  2014-1-4      69.33     51.60          0.000  2014
4  2014-1-5      76.42     50.85          0.001  2014

In [39]:
weather_final_data_df.count()

Date             1826
Temp High        1826
Temp Low         1826
Precipitation    1826
Year             1826
dtype: int64

In [40]:
weather_final_data_df.to_csv("Data/weather_2014to2018.csv", encoding='utf-8', index=False)

In [41]:
collision_data = pd.DataFrame(pd.read_csv("Data/collision_data.csv"))

In [42]:
collision_data.head()

  Date Occurred  Time Occurred  Victim Age Victim Sex              Location
0    11/04/2010           1345        20.0          F  (34.0348, -118.2362)
1    08/10/2010           1900        31.0          F  (33.9932, -118.3203)
2    06/09/2010           1925        40.0          F  (33.9599, -118.3805)
3    04/06/2010           1445        51.0          M  (34.1585, -118.5633)
4    05/23/2010           1805        32.0          F  (34.0055, -118.2948)

In [43]:
date_ls = []
year_ls=[]
for date in collision_data["Date Occurred"]:
    date= datetime.datetime.strptime(date,'%m/%d/%Y')
    date_ls.append(f"{date.year}-{date.month}-{date.day}")
    year_ls.append(date.year)

collision_data["Date"]=date_ls
collision_data["Year"]=pd.to_numeric(year_ls)
collision_data=collision_data[["Date","Time Occurred","Victim Age","Victim Sex","Location","Year"]]
collision_final_data = collision_data[collision_data["Year"]>2013]
collision_final_data = collision_final_data[collision_data["Year"]<2019]

C:\Users\danie\Anaconda3\envs\DanielData\lib\site-packages\ipykernel\__main__.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [44]:
collision_final_data=collision_final_data.reset_index(drop=True)
collision_final_data.head()

        Date  Time Occurred  Victim Age Victim Sex              Location  Year
0  2014-5-15           1315        20.0          M  (34.0509, -118.2605)  2014
1   2014-8-2           1210        51.0          M  (34.0534, -118.2409)  2014
2   2014-8-6            630        59.0          M   (34.045, -118.2435)  2014
3  2014-9-12           1205        75.0          M  (34.0454, -118.2657)  2014
4  2014-9-20           1230         NaN          M  (34.0502, -118.2336)  2014

In [45]:
collision_final_data.to_csv("Data/collision_2014to2018.csv", encoding='utf-8', index=False)

In [23]:
hourly_1 = pd.DataFrame(pd.read_csv("Data/hourly_weather_1.csv"))
hourly_2 = pd.DataFrame(pd.read_csv("Data/hourly_weather_1.csv"))

In [24]:
hourly_1.count()

Date                22758
Hour                22758
Temperature         22758
PrecipIntensity     22758
Date_Hour           22758
Year                22758
dtype: int64

In [25]:
hourly_2.count()

Date                22758
Hour                22758
Temperature         22758
PrecipIntensity     22758
Date_Hour           22758
Year                22758
dtype: int64

In [26]:
hourly_df = pd.concat([hourly_1,hourly_2])

In [28]:
hourly_df.to_csv("Data/hourly_weather_2014to2018.csv", encoding='utf-8', index=False)